version: '3.8'

services:
  portuguese-learning:
    image: charly37/portuguese-learning:latest
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3000
    volumes:
      - ./data:/app/data
